{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block library %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/fontawesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="icon" href="{% static 'base/management.png' %}" type="image/png">
    <link href="{% static 'base/css/styless.css' %}" rel="stylesheet">
    
    {% endblock %}
    <title>{% block title %}Navbar{% endblock %}</title>
</head>

<body>
  
 
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

  
    
</body>

</html>
