{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block library %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/fontawesome.min.css' %}" rel="stylesheet">
    <script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="icon" href="{% static 'base/management.png' %}" type="image/png">
    <link href="{% static 'base/css/styless.css' %}" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>
    {% endblock %}
    <title>{% block title %}Navbar{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'base/management.png' %}" alt="Management Logo" width="30" height="24" class="me-2">
                ECRMS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/company_detail/">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/departments_detail/">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/projects_detail/">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/employees_detail/">Employees</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Other
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/leave_detail/">Apply Leave</a></li>
                            <li><a class="dropdown-item" href="{% url 'approved_leaves' %}">Approved Leaves</a></li>
                            <li><a class="dropdown-item" href="/reimbursement_detail/">Apply Reimbursement</a></li>
                            <li><a class="dropdown-item" href="{% url 'approved_reimbursements' %}">Approved
                                    Reimbursement</a></li>

                            <li><a class="dropdown-item" href=" {% url 'time_tracking_detail' %}"> Projects Logs</a>
                            </li>
                            {% if user.role == 'admin' %}
                            <li><a class="dropdown-item" href="{% url 'performance_review_detail' %}">Performance
                                    Review</a></li>
                            <li><a class="dropdown-item" href="{% url 'training_detail' %}">Suggest Training</a></li>

{% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: #e3f2fd;">
            © 2024 ECRMS - All Rights Reserved Designed By Habib
        </div>
    </footer>
    <!-- End of Footer -->

</body>

</html>